<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <ul class="nav flex-column">
                <li class="nav-item" r-for="menu in menus">
                    <a class="nav-link" r-href="/guideline/{{menu.id}}">{{menu.name}}</a>
                    <a class="nav-link" r-href="/guideline/{{menu.id}}/#{{submenu.id}}" style="font-size: 0.8em" r-for="submenu in menu.submenus">{{submenu.name}}</a>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <router-view></router-view>
        </div>
    </div>

</div>